body {
	font-family: 楷体;
	width: 300px;
	clip: none;
}

.grid {
	color : #D2D2D2;
}

.rhyme-grid {
	border : solid 1px red;
}

.ping-sheng-grid {
	background-color : #DDDDFF;
}

.zhe-sheng-grid {
	background-color : #FFDDDD;
}

.zhong-sheng-grid {
	background-color : #DDFFDD;
}

span.literal-grid {
	color : black;
}
